@import "tailwindcss";

@layer theme {
  :root {
    --accent: 59 130 246; /* RGB value for modern opacity control */
    --container-padding: 15px;
  }
}

@layer utilities {
  .container {
    padding: var(--container-padding);
  }
}

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-1.5 text-sm cursor-pointer;
    @apply hover:bg-[rgb(var(--accent))] hover:text-white;
    @apply transition-colors duration-200;
  }

  .navbar__link:hover {
    color: #3B8AF6;
    transition: all 0.4s;
  }

  .navbar__link::after{
    position: absolute;
    content : "";
    background-color: #3B8AF6;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

}
